body {
    background: wheat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    margin: auto
    width: 900px;
    color: rgb(25, 117, 153);
}

h1 {
    font-size: 50px;
}

#fotok {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid rgba(0, 0, 0, 0.562)
}

img {
    height: 250px;
}

.conteudo {
    border: 3px solid black;
    width: 100%;
    background: white;
    border-radius: 5px ;
    text-align: center;
    max-width: 600px;
}